# Python
venv/
__pycache__/
*.pyc

# Vercel
.vercel

# Zip
backend.zip
*.zip

# Env
.env
.env.*

#Local
*.local

# === DEBUG FILES ===
frontend/assets/js/debug.js
frontend/debug_pelanggan.html
frontend/debug_pelanggan.js
frontend/test_endpoint.css
frontend/test_endpoint.html
frontend/test_endpoint.js
